@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}


body {
  margin: 0;
  font-family: sans-serif;
  background: #ffdd9e;
  color: #333;
}

.card {
  max-width: 360px;
  margin: 60px auto;
  background: white;
  padding: 20px;
  border-radius: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  background: orange;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}

span {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: orange;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
}


.register-page {
  max-width: 350px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 15px;
}

.register-page input,
.register-page select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background: orange;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
