/* Fondo general */
.login-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #ff7a00, #ff9a3c);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

/* Tarjeta */
.login-card {
  background: #ffffff;
  width: 360px;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  text-align: center;
}

/* Logo */
.login-logo {
  width: 110px;
  margin-bottom: 1rem;
}

/* Título */
.login-card h2 {
  margin-bottom: 1.5rem;
  color: #ff7a00;
}

/* Inputs */
.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.login-card input:focus {
  outline: none;
  border-color: #ff7a00;
}

/* Botón */
.login-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #ff7a00;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-card button:hover {
  background-color: #e66e00;
}

/* Footer */
.login-footer {
  margin-top: 1.2rem;
  font-size: 0.9rem;
  color: #555;
}

.login-footer span {
  color: #ff7a00;
  font-weight: bold;
  cursor: pointer;
}

.login-footer span:hover {
  text-decoration: underline;
}

.login-logo {
  width: 120px;
  height: 120px;
  object-fit: cover ;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
  display: block;
  border: 4px solid #ff7a00;
}